@using RepositoryPatternWithUOW.Core.Models;
@model CGARMAN.ViewModel.PagingViewModel<Shift>

@{ int counter = 0;}


@foreach (var item in Model.items)
{

    counter++;
    <tr>
        <td>
            @counter
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <a asp-action="Delete" asp-controller="TechnicianShift" asp-route-id="@item.ShiftId" class="btn btn-danger">Delete</a>
            <a asp-action="Edit" asp-controller="TechnicianShift" asp-route-id="@item.ShiftId" class="btn btn-warning">Edit</a>
            <a asp-action="View" asp-controller="TechnicianShift" asp-route-id="@item.ShiftId" class="btn btn-primary">View</a>
        </td>
    </tr>
}

