@model RepositoryPatternWithUOW.Core.Models.InventoryItemStatus

<div>
    <div class="d-sm-flex align-items-center justify-content-between mb-4" style="margin-left:10px">
        <h1 class="h3 mb-0 text-gray-800">
            @if (ViewBag.fromEdit is not null)
            {
                @if (ViewBag.fromEdit is true)
                {
                    <span>Eidt</span> <i style="font-size:large" class="fa fa-arrow-right" aria-hidden="true"></i> @Model.Name

                }
                else
                {
                    <span>Create</span>
                }
            }
        </h1>
        <button style="margin-right:10px" onclick="getStatusManagementPage()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Back to Status</button>
    </div>
    <hr />
    <div class="row" style="margin:0px 15px">
        @if (ViewBag.ValMassage != null)
        {
            <p style="color:red">@ViewBag.ValMassage</p>
        }
        <form asp-action="Create" asp-controller=" InventoryStatus" method="post" id="frmSubmitInvItemStatus" class="col-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InventoryItemStatusId" value="@Model.InventoryItemStatusId" />
            <div class="form-group row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-1" style=" padding-top: 5px;">
                            <label>Name</label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" asp-for="Name" class="form-control form-control-user" value="@Model.Name" required />
                            <span asp-validation-for="Name" class="text-danger"></span>

                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">

                <input type="button" onclick="submitInvItemStatus()" value="Save" id="btnsubmitInvItemStatus" class="btn btn-primary" />

            </div>
        </form>

    </div>
</div>
 <script>
     function submitInvItemStatus() {
        
         var form = document.getElementById('frmSubmitInvItemStatus');
         var formData = new FormData(form);
         getspinner();
         $.ajax({
             type: "Post",
             url: "/InventoryStatus/Create",
             data: formData,
             processData: false,
             ///* processData: false,*/
             contentType: false,
             success: function (response) {
                 swal("Don!", "success!", "success");
                 $("#ChangingBody").empty();
                 $('#ChangingBody').append(response);
               
             },
             failure: function (response) {
                 throwException(response)
             },
             error: function (response) {
                 throwException(response)
             }
         });
     }
     document.getElementById("btnGoToTopPage").click();

 </script>

