
@model CGARMAN.ViewModel.Shared.CostCenterEditViewModel
@{
    ViewData["Title"] = "Edit Cost Center";
    Layout = "_Authenticated";
}
<div class="d-sm-flex align-items-center justify-content-between mb-4" style="margin-left:10px">
    <h1 class="h3 mb-0 text-gray-800">
       Edit Cost Center <i style="font-size:large" class="fa fa-arrow-right" aria-hidden="true"></i> @Model.Name
    </h1>
    <a style="margin-right:10px" asp-action="Index" asp-controller="Home" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Back to Home</a>
</div>
<hr />
<div class="row" style="margin:1%">
    <div class="col-lg-12">
        <form asp-action="Edit" asp-controller="CostCenter" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CostCenterId" />
            <div class="form-group row">
                <div class="col-xl-12">
                    <div class="row">
                        <div class="col-xl-1" style=" padding-top: 5px;">
                            <label>Name</label>
                        </div>
                        <div class="col-xl-3">
                            <input type="text" asp-for="Name" class="form-control form-control-user" />
                            <span asp-validation-for="Name" style="margin:auto" class="text-danger"></span>

                        </div>
                        <div class="col-xl-1 border-left-primary" style="padding-top: 5px;">
                            <label>Value</label>
                        </div>
                        <div class="col-xl-3">
                            <input type="text" asp-for="Value" class="form-control form-control-user" />
                            <span asp-validation-for="Value" style="margin:auto" class="text-danger"></span>

                        </div>
                        @*<div class="col-xl-6">
            <input in asp-for="Enable" class="form-control form-control-user" />
            <span asp-validation-for="Enable" style="margin:auto" class="text-danger"></span>
        </div>*@
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" style=" width: 150px; margin: 30px 40px;" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
@section Scripts{
    <script>
        document.getElementById("btncontainerShared").click();
        ToggleColorInDashboard("linkAllCostCenters");
        document.getElementById("btnGoToTopPage").click();

    </script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
